<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans|Playfair+Display:800&display=swap"
        rel="stylesheet">
    <title>Evaluate News NLP Udacity</title>
</head>

<body>
    <header class="header">
        <div class="logo-container">
            A.
        </div>
        <div class="navigation-container">
            navigation
        </div>
    </header>
    <div class="main-container">
        <form class="form" id="form">
            <textarea autofocus id="article" type="text" name="input" value=""
                placeholder="Paste your article here"></textarea>
            <div class="form-submit">
                <button type="submit" name="check">Analize</button>
            </div>
        </form>
        <div id="results" class="form-results"></div>
    </div>
    <footer>
        <p>This is a footer</p>
    </footer>
</body>

</html>