<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/resets.scss">
    <link rel="stylesheet" href="/styles/base.scss">
    <link rel="stylesheet" href="/styles/header.scss">
    <link rel="stylesheet" href="/styles/form.scss">
    <link rel="stylesheet" href="/styles/footer.scss">
    <title>Evaluate News NLP Udacity</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>