@import './variables.scss';

.form {
    display: flex;
    flex-direction: column;
    max-width: 740px;
    margin: 0 auto;
    width: 100%;

    textarea {
        background: transparent;
        outline: none;
        height: 100%;
        padding: 48px 24px 0;
        border: 0;
        font-size: 20px;
        color: $main-font-color;
        resize: none;
    }
}

.form-submit {
    display: flex;
    align-items: center;
    padding: 24px;

    button {
        font-family: $secondary-font;
        padding: 12px 32px;
        border-radius: 8px;
        background-color: $action-color;
        color: $white;
        font-size: 16px;
        cursor: pointer;
        font-weight: 700;
        outline: none;
        transition: .2s background-color linear;

        &:hover {
            background-color: lighten($action-color, 6%) 
        }
    }
}

.form-results {
    margin-right: auto;
    font-family: $secondary-font;
    font-size: 16px;
}