$white: #ffffff;
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;
$logo-font: 'Playfair Display', sans-serif;
$main-font-color:#353535;
$border-color: rgba(0, 0, 0, 0.1);
$action-color: #304ffe;

$header-height: 64px;